<h1>Hola mundo!</h1>

<h1>Articles Testing </h1>
    <ul>
    <% @articles.each do |article| %>
            <li>
                <a href="<%= article_path(article) %>">
                    <%= link_to article.title, article%>
                </a>
            </li>
        <% end %>
    </ul>
<%=link_to "New Article", new_article_path %>